
.social-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgb(140,140,140);
}

.icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    mask-repeat: no-repeat;
    mask-size: 31px auto;
    mask-position: center center;
    background-color: rgb(140,140,140);
}

.icon.gray {
    background-color: rgb(179,179,179);
}

.icon.github {
    mask-image: url('/images/icons/github.svg');
    border-radius: 100%;
}

.icon.linkedin {
    mask-image: url('/images/icons/linkedin.svg');
    border-radius: 4px;
}

.icon.email {
    mask-image: url('/images/icons/email.svg');
    border-radius: 4px;
    mask-position: center 2px;
}

.icon.medium {
    mask-image: url('/images/icons/medium.svg');
    border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
    .icon {
        background-color: rgb(230,230,230);
    }

    .icon.gray {
        background-color: rgb(150,150,150);
    }
}