
.circle {
    border: 2px solid rgb(90,90,90);
    box-sizing: border-box;
    border-radius: 50%;
    display:inline-block;
    height: 100px;
    margin: 10px;
    position: relative;
    text-align: center;
    width: 100px;
}

.circle > .overlay {
    align-items: center;
    border-radius: 50%;
    display:grid;
    height: calc(100% - 4px);
    margin: 2px;
    position: absolute;
    width: calc(100% - 4px);
}

.circle:hover {
    animation: border 0.7s;
    border-color: rgb(90,90,90);
    border-width: 3px;
    transform: linear 0.3s;
}

.circle:hover > .overlay {
    cursor: default;
    height: calc(100% - 12px);
    margin: 6px;
    width: calc(100% - 12px);
}


@keyframes border {
    0% {
        border-color: rgb(90,90,90);
        border-width: 2px;
    }
    50% {
        border-color: rgb(180,180,180);
        border-width: 3px;
    }
    100% {
        border-color: rgb(90,90,90);
        border-width: 3px;
    }
}