.whoiam {
    text-align: center;
    font-size: 1.1em;
}

.whoiam b, .whoiam strong, .whoiam a {
    color: rgb(0,0,0);
}

.photoarea > img {
    border-radius: 100% 100% 15px 100%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    margin: 15px auto;
    max-height: 200px;
    max-width: 200px;
}

.personal-info {
    line-height: 175%;
    margin-bottom: 30px;
    text-align: center;
}

.personal-info > span {
    display: block;
    margin: 5px;
}

.personal-info > span.location {
    margin: 5px auto 0;
    color: rgb(90,90,90);
}

.contact-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.profile-pillars {
    margin-top: 60px;
}

ul.pillars-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 30px;
    margin-top: 10px;
}

ul.pillars-list li {
    animation: slide-up 0.5s ease both;
    animation-delay: 0.2s;
}

@supports (animation-delay: calc(sibling-index() * 1s)) {
  ul.pillars-list li {
    animation-delay: calc((sibling-index() - 1) * 0.3s);
  }
}


ul.pillars-list h4 {
    font-size: 1.3em;
    /* font-weight: 600; */

    color: var(--highlight-color);

    /* background-image: var(--highlight-gradient);
    color: transparent;
    background-clip: text; */
}

ul.pillars-list p {
    font-size: 1em;
    font-style: italic;
    color: rgb(100,100,100);
    text-align: center;
    margin-top: 30px;
}


@keyframes slide-up {
    from {
        opacity: 0;
        translate: 0 30%;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}


@media (prefers-color-scheme: dark) {
    .whoiam b, .whoiam strong, .whoiam a {
        color: rgb(255,255,255);
    }

    .personal-info > span.location {
        color: rgb(180,180,180);
    }

    ul.pillars-list p {
        color: rgb(180,180,180);
    }
}




@media (min-width: 901px) {
    .whoiam {
        width: 100%;
    }
    
    .self-description {
        padding: 5px 40px;
    }
    
    ul.pillars-list {
        column-gap: 80px;
    }
}


@media (max-width: 900px) {
    .self-description {
        margin-top: 20px;
        padding: 20px;
    }

    ul.pillars-list {
        flex-direction: column;
        align-items: center;
    }

    ul.pillars-list p {
        max-width: 450px;
    }
}