
.icon {
    display: block;
    height: 35px;
    width: 35px;
    mask-repeat: no-repeat;
    mask-size: 36px auto;
    mask-position: center center;
}

.icon.gray {
    background-color: rgb(179,179,179);
}

.icon.github {
    mask-image: url('/images/icons/github.svg');
    border-radius: 100%;
}

.icon.linkedin {
    mask-image: url('/images/icons/linkedin.svg');
    border-radius: 8px;
}

.icon.medium {
    mask-image: url('/images/icons/medium.svg');
    border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    .icon {
        background-color: rgb(230,230,230);
    }

    .icon.gray {
        background-color: rgb(150,150,150);
    }
}