* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.responsive-container {
    width: 100%;
    padding: 0;
    display: flex !important;
    flex-direction: row;
    column-gap: 60px;
    min-height: 100%;
    height: 100%;
    justify-content: center !important;
    align-items: start !important;

    margin: 0 auto;
}

.responsive-container.limited-width {
    max-width: 1600px;
}

.responsive-container.main-container {
    min-height: calc(100vh - 115px);
    margin-bottom: 105px
}

.responsive-container.vertical-centered {
    align-items: center !important;
}

.responsive-container.full.vertical-centered {
    justify-content: center !important;
}

.responsive-container.full {
    flex-direction: column;
    row-gap: 60px;
    justify-content: flex-start !important;
    align-items: center !important;
}

.responsive-container.full ::slotted(*) {
    flex: 0 1 100%;
}

.responsive-container.half ::slotted(*) {
    flex: 1 1 50% !important;
}

.responsive-container.sidebar ::slotted(*:nth-child(1)) {
    flex: 0 1 30% !important;
    max-width: 500px !important;
}

.responsive-container.sidebar ::slotted(*:nth-child(2)) {
    flex: 1 1 70% !important;
    width: calc(100% - 560px) !important;
}


@media (max-width: 900px) {
    .responsive-container {
        flex-direction: column;
        row-gap: 20px;
    }

    .responsive-container ::slotted(*) {
        flex: 1 1 100% !important;
    }

    .responsive-container.sidebar ::slotted(*:nth-child(1)),
    .responsive-container.sidebar ::slotted(*:nth-child(2)) {
        width: 100% !important;
        max-width: 100%;
    }
}