p {
    text-transform: uppercase;
}

.badge {
    border-radius: 20px;
    display: inline-block;
    padding: 2px 15px;
    margin: 5px;
    border: none;
}

.badge.light {
    background-color: rgb(230,230,230);
}

.badge.dark {
    background-color: rgb(140,140,140);
    color: rgb(245,245,245);
}

.badge.highlight {
    background-color: var(--badge-highlight-color);
}

@media (prefers-color-scheme: dark) {
    .badge {
        color: rgb(245,245,245);
    }

    .badge.light {
        background-color: rgb(100,100,100);
    }

    .badge.dark {
        background-color: rgb(70,70,70);
    }
}