.projects-list .project-category:nth-child(2) {
    margin-top: 80px;
}



.project-info {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-info.open {
    background-color: var(--default-bg-color);
    animation: slide-up-in 0.5s both;
}

    .project-info.open .project-info-content {
        animation: fade-in 0.5s both;
        animation-delay: 0.2s;
    }

.project-info.closing {
    animation: slide-down-out 0.3s both;
}

.project-info-area:has(.project-info:not(.open)) button.close-project {
    visibility: hidden;
    opacity: 0;
}


button.close-project {
    background: var(--translucent-highlight-color);
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 2;
}

    button.close-project:after {
        color: rgb(90,90,90);
        content: "×";
        cursor: pointer;
        font-family: sans-serif;
        left: 0;
        top: 0;
        width: 100%;
    }

.project-info-area:has(.project-info.open) button.close-project {
    animation: slide-up-in 0.3s both;
    animation-delay: 0.3s;
}

.project-info-area:has(.project-info.closing) button.close-project {
    animation: slide-down-out 0.2s both;
}

@media (prefers-color-scheme: dark) {
    .project-info:before {
        background-color: rgb(18,59,92);
    }

    button.close-project:after {
        color: rgb(230,230,230);
    }

    @media (min-width: 901px) {
        .project-info.open {
            border-color: rgb(90,90,90) !important;
        }

        button.close-project:hover:after {
            color: rgb(60,60,60) !important;
        }
    }
}


@media (min-width: 901px) {
    .projects-list {
        justify-self: end;
        padding: 0 20px;
        width: 100%;
    }

    .project-info-area {
        position: sticky;
        top: 40px;
        display: flex;
        margin: 0 20px;
        font-size: 1.1em;
        height: calc(100vh - (75px + 1.5em + 30px + 82px) - 25px);
        overflow: hidden;
        border-radius: 40px;

        animation-name: expandSticky;
        animation-timeline: --sticky-tracker;
        
        animation-range: contain -20% contain 20%; 
        animation-fill-mode: both;

    }

    responsive-container[mode="sidebar"] {
        view-timeline-name: --sticky-tracker;
        view-timeline-axis: block;
    }

    .project-info-area:before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: rgb(212,240,255) url(/images/projects-icon.svg) no-repeat center center;
        background-size: contain;
        max-height: 270px;
        max-width: 270px;
        align-self: center;
        margin: auto;
        position:absolute;
        top: calc(50% - 205px);
        left: calc(50% - 137px);
        
        border-radius: 50%;
        transition: 0.3s;
        animation: slide-up-in 0.5s ease both, 
            dynamic-float var(--float-duration) ease-in-out infinite alternate;
        z-index: 0;

        --final-opacity: 1;
        --mx: 2.90%;
        --my: 1.32%;
        --mrot: 0.77deg;
        --float-duration: 6.84s;
        --float-delay: -2.82s; 
    }

    .project-info-area:after {
        content: 'Select a project to check details';
        display: block;
        align-self: center;
        position: absolute;
        top: calc(50% + 120px);
        left: 50%;
        transform: translate(-50%, 0);
        text-transform: uppercase;
        font-style: italic;
        width: 250px;
        text-align: center;
        font-size: 1.3em;
        line-height: 1.8em;
        opacity: var(--final-opacity);
        transition: 0.3s;
        animation: slide-up-in 0.5s ease both;
        z-index: -1;

        --final-opacity: 0.3;
    }

    .project-info.open {
        align-self: start;
        border: 1px solid rgb(210,210,210);
        border-radius: 40px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        justify-self: start;
        overflow: hidden;
        opacity: 1;
        height: 100%;
    }

    .project-info-content {
        padding: 5px 40px;
        height: 100%;
        overflow-y: auto;
        position: relative;
    }

    button.close-project {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 35px;
        width: 35px;
    }

        button.close-project:hover {
            background-color: var(--highlight-color);
        }

    button.close-project:after {
        font-size: 28px;
        line-height: 14px;
    }

        button.close-project:hover:after {
            color: rgb(230,230,230);
        }

}


@media (max-width: 900px) {
    :root:has(.project-info.open) h2,
    :root:has(.project-info.open) .projects-list {
        animation: fade-out 0.2s both;
    }

    :root:has(.project-info.closing) h2,
    :root:has(.project-info.closing) .projects-list {
        animation: fade-in 0.2s both;
    }


    .projects-list {
        padding: 0 10px;
        z-index: 1;
    }

    @media (orientation: landscape) {
        .projects-list {
            padding: 0 20px;
        }
    }

    .project-info-area:has(.project-info.open) {
        max-height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: 0;
        z-index: 2;
    }

    .project-info-area:has(.project-info.open) .project-info-content {
        padding-bottom: 140px;
    }

    *:has(.mobile-no-scroll) {
        overflow: hidden;
    }

    button.close-project {
        bottom: 95px;
        left: calc(50vw - 22.5px);
        position: fixed;
        height: 45px;
        width: 45px;
    }

    button.close-project:after {
        font-size: 36px;
        line-height: 18px;
    }
}