.projects-list .project-category {
    margin-top: 40px;
}

.projects-list .project-category:nth-child(2) {
    margin-top: 0;
}

@media (min-width: 901px) {
    .projects-list {
        justify-self: end;
        padding: 0 20px;
        width: 100%;
    }

    .project-info {
        opacity: 0.2;
        padding: 5px 40px;
        position: sticky;
        top: 40px;
        display: flex;
        height: calc(100vh - 155px);
    }

    .project-info::before {
        content: ' ';
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(255,255,255,0.8);
        background: url(/images/projects-background.svg) no-repeat center center;
        background-size: contain;
        max-height: 300px;
        max-width: 300px;
        align-self: center;
        margin: auto;
    }

    .project-info.open {
        align-self: start;
        background: none;
        border: 1px solid rgb(230,230,230);
        border-radius: 15px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        justify-self: start;
        overflow: auto;
        opacity: 1;
    }

    .project-info.open::before {
        display: none;
    }

    project-list-item {
        border-radius: 10px;
        transition: 0.3s;
    }

    project-list-item.active {
        box-shadow: 0 0 0 1px rgb(200,200,200);
    }

    @media (prefers-color-scheme: dark) {
        .project-info.open {
            border-color: rgb(90,90,90);
        }

        project-list-item.active {
            box-shadow: 0 0 0 1px rgb(90,90,90);
        }
    }
}

@media (min-width: 901px) {
    .project-info {
        font-size: 1.1em;
    }
}


@media (max-width: 900px) {
    .projects-list {
        padding: 0 5px;
        z-index: 1;
    }


    .mobile-overlapping > * {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .mobile-overlapping > .project-info.open {
        background-color: rgb(255,255,255);
        z-index: 2;
    }

    .projects-list.mobile-hidden {
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        .mobile-overlapping > .project-info.open {
            background-color: rgb(40,40,40);
        }
    }
}