.projects-list .project-category {
    margin-top: 40px;
}

.projects-list .project-category:nth-child(2) {
    margin-top: 0;
}

@media (min-width: 901px) {
    .projects-list {
        justify-self: end;
        padding: 0 20px;
        width: 100%;
    }

    .project-info {
        opacity: 0.2;
        padding: 5px 40px;
        position: sticky;
        top: 40px;
        display: flex;
        margin: 0 20px;
    }

    .project-info::before {
        content: ' ';
        display: block;
        height: 100%;
        width: 100%;
        /* background-color: rgba(255,255,255,0.8); */
        /* background: url(/images/projects-background.svg) no-repeat center center; */
        background-size: contain;
        max-height: 300px;
        max-width: 300px;
        align-self: center;
        margin: auto;
    }

    .project-info.open {
        align-self: start;
        background: none;
        border: 1px solid rgb(230,230,230);
        border-radius: 15px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        justify-self: start;
        overflow: auto;
        opacity: 1;
    }

    .project-info.open::before {
        display: none;
    }

    project-list-item {
        border-radius: 10px;
        transition: 0.3s;
    }

    project-list-item.active {
        box-shadow: 0 0 0 1px rgb(200,200,200);
    }

    @media (prefers-color-scheme: dark) {
        .project-info.open {
            border-color: rgb(90,90,90);
        }

        project-list-item.active {
            box-shadow: 0 0 0 1px rgb(90,90,90);
        }
    }
}

@media (min-width: 901px) {
    .project-info {
        font-size: 1.1em;
        height: calc(100vh - 155px);

        animation-name: expandSticky;
        animation-timeline: --sticky-tracker;
        
        animation-range: contain -25% contain 0%; 
        animation-fill-mode: both;
    }

    @keyframes expandSticky {
        from {
            height: calc(100vh - 245px);
        }
        to {
            height: calc(100vh - 155px);
        }
    }

    responsive-container[mode="sidebar"] {
        view-timeline-name: --sticky-tracker;
        view-timeline-axis: block;
    }
}


@media (max-width: 900px) {
    .projects-list {
        padding: 0 5px;
        z-index: 1;
    }

    .project-info.open {
        background-color: rgb(255,255,255);
        max-height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: 0;
        padding-bottom: 80px;
        z-index: 2;
    }

    *:has(.mobile-no-scroll) {
        overflow: hidden;
    }

    @media (prefers-color-scheme: dark) {
        .project-info.open {
            background-color: rgb(40,40,40);
        }
    }
}