
.logo {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    color: transparent;
    display: block;
    height: 50px;
    left: 5px;
    position: fixed;
    top: 5px;
    width: 120px;
    z-index: 15;
    animation: slide-down-in 0.3s both;
}

.logo::before {
    content: ' ';
    display: block;
    height: 100%;
    width: 100%;
    background: url('/images/logo.svg') no-repeat center center;
    background-size: 96px auto;
}

.logo.at-home {
    opacity: 0;
    visibility: hidden;
    animation: none;
}

    .logo.at-home.exited {
        animation: slide-up-out 0.3s both;
    }

@media (prefers-color-scheme: dark) {
    .logo {
        background-color: rgba(30,30,30,0.7);
    }

    .logo::before {
        mask-repeat: no-repeat;
        mask-size: 96px auto;
        mask-position: center center;
        background-image: none !important;
        background-color: rgb(230,230,230);
        mask-image: url('../images/logo.svg');
    }
}