
.subtitle {
    color: rgb(130,130,130);
    font-weight: 400;
    line-height: 1.75em;
    text-align: center;
    text-transform: uppercase;
}

.project-section {
    display: grid;
    grid-row-gap: 1em;
    margin-bottom: 35px;
}

@media (prefers-color-scheme: dark) {
    .subtitle {
        color: rgb(200,200,200);
    }
}
